<h4>Bienvennue sur l'API du site Trouve ton Artisan</h4>

<h5>Quelques liens utiles</h5>

<a href="/artisans">Liste de tous les artisans</a>
<br></br>
<a href="/categories">Liste des catégories</a>
<br></br>
<a href="atdm">Les artisans du mois</a>
